h1 {
  color: #2fe0c3;
  font-family: minecraft;
  margin: 0;
}
p {
  font-family: american-typewriter;
  font-size: medium;
  font-weight: bold;
}

.NFT {
  margin: 0;
  padding-top: 3.1rem;
}

.hero {
  display: flex;
  /* place-items: center; */
  align-items: center;
  justify-content: center;

  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/kqXKfC3/Background-Slideshow-1-1-1.png");
  background-position: initial;
  background-repeat: repeat;
  animation: marquee_hero 30s infinite linear;
  background-size: 1200px;

  width: 100vw;
  z-index: 1;

  margin: 3rem 0;
}

.hero__content {
  width: 58%;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
  background-color: #152c027a;
}

.hero__content > .image {
  height: 320px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.imageBelow {
  background: #1a2a0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: -40px;
  padding: 10px;
}
.imageBelow > div {
  width: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.hero_img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
}
.hero__content > .content {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
  margin-bottom: 5rem;
  margin-right: 2rem;
  padding-left: 5rem;
}

.hero__content__title {
  font-size: 4.5rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.hero__content__description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 10px #000;
  /* font-family: vcr_osd_mono; */
  font-family: american-typewriter;
}

.hero__content__button {
  background-color: #1ac43e;
  width: fit-content;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  font-family: american-typewriter;
}

.hero__content__button:hover {
  background-color: #1ac43e;
  opacity: 0.8;
}

@keyframes marquee_hero {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1190px;
  }
}

/* treasury --------------------- */

.treasury {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.treasury__header {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.treasury__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: american-typewriter;
}

.treasury > .container {
  background-color: #80808024;
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: row;
  padding: 2rem 5rem;
  align-items: space-between;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;
}

.total_stake {
  width: 60%;
}

.total_stake__value {
  font-family: american-typewriter;
  font-size: 2.5rem;
  font-weight: 500;
}

.highlight {
  color: #1ac43e;
  font-weight: 600;
}

.compounding_reward {
  text-align: center;
}

.scale {
  /* background-color: #1AC43E; */
  /* border-top: #1AC43E 1px solid; */
  width: 92%;
  height: 0.5px;
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1ac43f97;
}

.scale:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 98%; /* or 100px */
  margin-left: 5px;
  border-bottom: 1px solid #1ac43f97;
}

.scale > .mark {
  font-size: 12px;
}

/* marquee ----------------------- */

.marquee-wrapper {
  margin-top: 8rem;
  overflow: hidden;
  display: inline-block;
}

.marquee {
  display: flex;
  -webkit-animation: marquee_carousal 30s linear infinite running;
  -moz-animation: marquee_carousal 30s linear infinite running;
  -o-animation: marquee_carousal 30s linear infinite running;
  -ms-animation: marquee_carousal 30s linear infinite running;
  animation: marquee_carousal 30s linear infinite running;
  transform: translateX(0);
}
.marquee img {
  padding: 1em;
  height: 200px;
}

@-moz-keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}
@-webkit-keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}
@-o-keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}
@keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}

/* reward  -------------------------*/
.content {
  gap: 10px;
}
.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.reward__header {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.reward__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: american-typewriter;
}

.reward > .reward__conatiner {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.reward__options__item {
  background-color: #8080802c;
  display: flex;
  flex-direction: row;
  align-items: initial;
  gap: 1rem;
  padding: 2.5rem;
  width: 33%;
  min-height: 230px;
}
.reward__options__item__title {
  font-size: 3.5rem;
  margin-top: 5px;
  font-weight: 400;
  color: #18b036;
}

.reward__options__item__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: initial;
  gap: 1rem;
  padding-left: 2rem;
  position: relative;
}

.reward__options__item__header {
  font-size: 2rem;
  font-weight: 400;
  color: #18b036;
  text-shadow: 0 0 15px #000;
  font-family: american-typewriter;
  font-weight: 500;
}
.reward__options__item__description {
  font-family: american-typewriter;
}

.reward__options__item__button {
  font-family: american-typewriter;
  margin-top: 20px;
  color: #18aab0;
  cursor: pointer;
  width: fit-content;
  border-bottom: #18abb0b8 0.5px solid;
}

.reward__options__item__header {
  margin-bottom: 8px;
}

.reward__description {
  background-color: #8080802c;
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2.5rem 0;
  position: relative;
}

.reward__description__header {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.reward__description__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-family: american-typewriter;
}

.reward__description__button {
  margin-top: 40px;
  background-color: #18b036;
  padding: 8px;
  font-weight: 600;
  font-family: minecraft;
  cursor: pointer;
}

.reward__description > .left__illustration {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 250px;
  width: 250px;
  height: 100%;
  z-index: -1;
  background-image: url("https://i.ibb.co/xfWNy4g/Whats-App-Image-2023-02-25-at-9-43-45-AM.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.reward__description > .right__illustration {
  position: absolute;
  top: 0;
  right: 0;
  background-size: 250px;
  width: 250px;
  height: 100%;
  z-index: -1;
  background-image: url("https://i.ibb.co/9cN5hG7/Whats-App-Image-2023-02-25-at-9-43-44-AM.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

/* footer -------------------------- */

.footer {
  margin-top: 2rem;
  color: #fff;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer h3 {
  font-family: american-typewriter;
}

.footer > .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.NoOfNfts {
  display: flex;
  justify-content: space-between;
}
.ftm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: #1a2a0b;
  padding: 20px;
  width: 35%;
}
.ftm2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #87ff7c;
  padding: 20px;
  width: 60%;
  color: black;
  cursor: pointer;
  font-family: american-typewriter !important;
}
.images {
  width: 160% !important;
  display: flex;
  gap: 10px;
}
.bt {
  display: flex;
  justify-content: space-between;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subBoxes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: american-typewriter !important;
}
.subBoxes > div > span {
  display: flex;
  gap: 5px;
  font-family: american-typewriter !important;
}
.subBoxes > div {
  font-family: american-typewriter !important;
}
