h1 {
  color: #2fe0c3;
  font-family: minecraft;
  margin: 0;
}
/* p {
  font-family: american-typewriter;
  font-size: medium;
  font-weight: bold;
} */

.NFT {
  width: 100%;
  margin: 0;
  padding-top: 3.1rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/kqXKfC3/Background-Slideshow-1-1-1.png");
  background-position: initial;
  background-repeat: repeat;
  animation: marquee_hero 30s infinite linear;
  background-size: 1200px;
  z-index: 1;
  margin: 3rem 0;
}

.hero__content {
  height: 396px;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 872px;
  max-width: calc(100% - 48px);
  background: #142009b8;
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(10px);
  padding: 36px;
  /* border-radius: 36px; */
  display: grid;
  grid-template-columns: 320px auto;
  gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* width: 58%;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
  background-color: #152c027a; */
}

.hero__content > .image {
  height: 320px;
  width: 300px;
  /* border-radius: 20px; */
  /* overflow: hidden; */
}
.imageBelow {
  background: #1a2a0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  width: 290px;
  height: 80px;
}
.imageBelow > div {
  width: 100%;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.imageBelow > div > p {
  font-family: american-typewriter;
  font-size: medium;
  /* font-weight: bold; */
}
.hero_img {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-left: 30px;
}
.hero__content > .content {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.mint_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.hero__content__title {
  font-size: 4.5rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.hero__content__description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 10px #000;
  /* font-family: vcr_osd_mono; */
  font-family: american-typewriter;
}
.mint_hero__content__description {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 10px #000;
  /* font-family: vcr_osd_mono; */
  font-family: american-typewriter;
}
.mint_hero__content__description > span > a > span {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 10px #000;
  /* font-family: vcr_osd_mono; */
  font-family: american-typewriter;
}
.NoOfNfts {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.NoOfNfts > p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  font-family: american-typewriter;
}
.mint {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.mint > .default-btn {
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mint_dropdown {
  display: flex;
  /* background-color: #1a2a0b; */
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: american-typewriter;
  gap: 6px;
}
.mint_dropdown > div {
  display: flex;
  padding: 5px;
  background-color: #1a2a0b;
  height: 50px;
  width: 60%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: american-typewriter;
  gap: px;
}

.liveStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  margin-top: 10px;
  /* background-color: #1a2a0b; */
}

.liveStats > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: #1a2a0b; */
}
.liveStats > div > div {
  width: 120px;
  font-size: 1.3rem;
  font-family: american-typewriter;
  /* background-color: #1a2a0b; */
}
.liveStats > div > div > span {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: american-typewriter;
  /* background-color: #1a2a0b; */
}

.btn-primary {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  height: 48px;
  width: fit-content;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: 0;
  font-weight: bold;
  color: #000000;
  font-family: american-typewriter;
}

.hero__content__button {
  color: #ffffff;
  background-color: #1ac43e;
  width: fit-content;
  /* margin-top: 1rem; */
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  height: 48px;
  cursor: pointer;
  border-width: 0;
  font-weight: bold;
  font-family: american-typewriter;
}

.hero__content__button:hover {
  background-color: #1ac43e;
  opacity: 0.8;
}

@keyframes marquee_hero {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1190px;
  }
}

/* treasury --------------------- */

.treasury {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.treasury__header {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.treasury__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: american-typewriter;
}

.treasury > .container {
  background-color: #80808024;
  width: 80%;
  height: 250px;
  display: flex;
  padding: 12px 24px 0px;
  align-items: space-between;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;
}
.treasury_content_head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.treasury_content_head_left {
  display: flex;
  /* justify-content: space-between; */
}

.total_stake {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 13px;
  line-height: 140%;
}

.total_stake__value {
  font-family: american-typewriter;
  font-size: 2.5rem;
  font-weight: 500;
}

.highlight {
  color: #1ac43e;
  font-weight: 600;
}

.compounding_reward {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 13px;
  line-height: 140%;
  text-align: center;
}
.pending_reward {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 13px;
  line-height: 140%;
  text-align: center;
}

.scale {
  /* background-color: #1AC43E; */
  /* border-top: #1AC43E 1px solid; */
  width: 92%;
  height: 0.5px;
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1ac43f97;
}

.scale:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 98%; /* or 100px */
  margin-left: 5px;
  border-bottom: 1px solid #1ac43f97;
}

.scale > .mark {
  font-size: 14px;
}

/* marquee ----------------------- */

.marquee-wrapper {
  margin-top: 8rem;
  overflow: hidden;
  /* display: inline-block; */
}

.marquee {
  display: flex;
  -webkit-animation: marquee_carousal 30s linear infinite running;
  -moz-animation: marquee_carousal 30s linear infinite running;
  -o-animation: marquee_carousal 30s linear infinite running;
  -ms-animation: marquee_carousal 30s linear infinite running;
  animation: marquee_carousal 30s linear infinite running;
  transform: translateX(0);
}
.marquee img {
  padding: 1em;
  height: 200px;
}

@-moz-keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}
@-webkit-keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}
@-o-keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}
@keyframes marquee_carousal {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-1190px);
    -moz-transform: translate(-1190px);
    -o-transform: translate(-1190px);
    -ms-transform: translate(-1190px);
    transform: translate(-1190px);
  }
}

/* reward  -------------------------*/
/* .content {
  gap: 10px;
} */
.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  margin-bottom: 15rem;
}

.reward__header {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.reward__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-family: american-typewriter;
}

.reward > .reward__conatiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.reward__options__item {
  background-color: #8080802c;
  display: flex;
  flex-direction: row;
  align-items: initial;
  gap: 1rem;
  padding: 2.5rem;
  width: 33%;
  min-height: 230px;
}
.reward__options__item__title {
  font-size: 64px;
  margin-top: 5px;
  font-weight: 400;
  color: #18b036;
}

.reward__options__item__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: initial;
  gap: 1rem;
  padding-left: 2rem;
  position: relative;
}

.reward__options__item__header {
  font-size: 2rem;
  font-weight: 400;
  color: #18b036;
  text-shadow: 0 0 15px #000;
  font-family: american-typewriter;
  font-weight: 500;
}
.reward__options__item__description {
  font-family: american-typewriter;
}

.reward__options__item__button {
  font-family: american-typewriter;
  margin-top: 20px;
  color: #18aab0;
  cursor: pointer;
  width: fit-content;
  border-bottom: #18abb0b8 0.5px solid;
}

.reward__options__item__header {
  margin-bottom: 8px;
}

.reward__description {
  background-color: #8080802c;
  /* width: 100%; */
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 20rem;
  padding: 2.5rem 0;
  position: relative;
}

.reward__description__header {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
}

.reward__description__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-family: american-typewriter;
}

.reward__description__button {
  margin-top: 40px;
  background-color: #18b036;
  padding: 8px;
  font-weight: 600;
  font-family: minecraft;
  cursor: pointer;
}

.reward__description > .left__illustration {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 250px;
  width: 250px;
  height: 100%;
  z-index: -1;
  background-image: url("https://i.ibb.co/xfWNy4g/Whats-App-Image-2023-02-25-at-9-43-45-AM.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.reward__description > .right__illustration {
  position: absolute;
  top: 0;
  right: 0;
  background-size: 250px;
  width: 250px;
  height: 100%;
  z-index: -1;
  background-image: url("https://i.ibb.co/9cN5hG7/Whats-App-Image-2023-02-25-at-9-43-44-AM.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
