.page-layout{
    min-height: calc(100vh - 62px);
        display: flex;
        flex-direction: column;
        padding-bottom: calc(4.65rem + 20rem);
        padding-top: 4.65rem;
}
.header,.subhead{
    
  font-family: american-typewriter;
  font-size: 18px !important;
}

.subhead{
    color: #FFFFFF !important;
}
.default-container{
    max-width: 126.4rem;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        margin: 0 auto;
}
.stakeNftUpper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.header{
    font-size: 40px;
}
.subhead{
    font-size: 30px;
}
.timeline{
    margin-top: 50px;
    width: 600px;
}
.boxes{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.box1{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, #2c4315,#132b3a, #1f0e0c);
}
.box2{
    width: 25%;
    height: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to top right, #162109, #324215);
    font-family: american-typewriter;
}
.box2 > div{
    font-family: american-typewriter;
}
.box3{
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to top right, #162109, #324215);
    display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        font-family: american-typewriter;
}
.box3 > div{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    font-family: american-typewriter;
}
.box3 > div > div{
    font-family: american-typewriter;
}
.currentEpoch{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nextEpoch{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subepoch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: american-typewriter;
}
.subepoch > div{
    font-family: american-typewriter;
}
.wftm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.dashDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    height: 8px;
}
.dash{
    width: 25px;
    height: 100%;
    background-color: aliceblue;
}
.stakeNftDown,.stakeNftMid{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.stakeNftMid{
    width: 120%;
    margin-top: 30px;
}
.stakeNftDown > img{
    width: 100%;
}
.main{
   align-items: center;
   gap: 50px;
}